
body {
    color: #2f2e2e;
    line-height: 1.5em;
    padding: 50px;
    background: #FFD182;
    font-family: "Kode Mono", monospace;
}

main {
    width: 1000px;
    margin: auto;
}

div {
    text-align: center;
    padding: 15px;

}


button { 
    padding: 20px;
}



#game img {
    margin: 30px;
}


/* intro page */
#intro {
    width: 500px;
    background-color: white;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1); 

}

h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    border-bottom: 5px dotted grey;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 25px;
}

#startbutton {
    margin: auto;
}

#introbutton {
    font-family: "Kode Mono", monospace;
    background-color: #D9D9D9;
    border-radius: 15px;
    border: none;
    transition: background-color 0.2s ease;
}

#introbutton:hover {
    background-color: #fa4a4a;
    color: white;
}


#startgame {
    background-color: #DB3A34;
    border: none;
    border-radius: 14px;
}

#startgame:hover {
    background-color: white;
    color: #fa4a4a;
}

/* game page */

#maingame {
    position: relative;
}


#game {
    bottom: 100px;
    width: 100%;
    margin: auto;
}

#die{
    /* position: absolute; */
    top:30%;
    width: 100%;
}

p {
    line-height: 27px;
    margin: 25px 0;
}

#profile {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.redText {
    color: red;
}

.whiteText {
    color: white;
}

#die {
    /* display: flex; */
    margin-top: 150px;
}

#die img {
    margin: 50px;
    margin-bottom: 0;
}

#score {
    display: flex;
    justify-content: space-between;
    /* margin: 0 100px; */
    position: absolute;
    width: 81.5%;
    bottom: 13%;
    left: 9%;
    z-index: -1;
}

#score1 {
    /* line-height: 8px; */
}

#score h2 {
    margin: 0;
}

#actions {
    display: flex;
    width: 100%;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* roll the dice/pass button */

#actions button {
    margin: 0 20px;
    color: white;
    background-color: #323031;
    border-radius: 20px;
    box-shadow: 0 7px 5px #101010;
    text-decoration: none;
}

#quit {
    position: absolute;
    top: 120%;
    transform: translateY(-50%);
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  
    padding: 20px 0; /* Optional: Add padding for better spacing */
}

footer a {
    color: #2200ff;
}


.hidden {
    display: none;
}

.showing {
    display: block;
}